#appMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
  font-size: 14px;
  background-color: transparent !important;
}
/* 
#app {
  background-color: transparent !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  box-shadow: unset !important;
  border-radius: 10px !important;
} */

#iframe {
  width: 380px;
  height: 380px;
  border: unset;
  background-color: transparent;
  transform: translate(-0px, -50px);
  position: absolute;
  left: 0;
  top: 0;
}

.boxTopMove {
  position: fixed;
  left: 5px;
  top: 0px;
  font-style: 18px;
  padding: 4px 8px;
  border-radius: 8px;
  /* background-color: #3a65ffb1; */
  background-color: #ffffff9c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}
.icon {
  width: 20px;
  height: 25px;
}

.errDo {
  position: fixed;
  left: 45px;
  top: 0px;
  font-style: 18px;
  padding: 1px 5px;
  border-radius: 8px;
  /* background-color: #3a65ffb1; */
  background-color: #ffffff9c;
  color: #4f4f4fd7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}
