<div id="appMain" class="not_drag notSelect">
  <!-- backgroundImage: 'url("../assets/tip/normal/14.svg") !important' -->
  <div class="tipBackground fccC" :style="tipBackground">
    <!-- <img :src="backgroundImg" id="tipBackground" alt=""> -->
    <div
      class="tipMain f1 fcc w100"
      :style="sweetHeart ? tipMainSweetHeart : {}"
    >
      <div
        class="t_m_center t_m_center_img f1 toe3 tc"
        v-if="msgOpt.type == 'img'"
      >
        <img class="t_m_c_img" :src="msgOpt.data" alt="" />
      </div>
      <div
        class="t_m_center text f1 toe3 tc"
        v-else-if="msgOpt.type == 'html'"
        v-html="msgOpt.data"
      ></div>
      <div
        class="t_m_center text f1 toe3 tc"
        v-else-if="msgOpt.type == 'seeTextImgs'"
      >
        <div>{{msgOpt.data}}</div>
        <img v-if="msgOpt?.imgUrl" class="pt4" :src="msgOpt?.imgUrl" alt="" />
        <div class="" v-if="msgOpt?.imgUrls?.length">
          <img
            v-for="(item, index) in msgOpt.imgUrls"
            :key="index"
            :src="item"
            :style="{
              marginLeft: index != 0 ? '4px':'0',
            }"
            alt=""
          />
        </div>
      </div>
      <div class="t_m_center text f1 toe3 tc" v-else>{{msgOpt.data}}</div>
    </div>
    <div
      class="tipButs w100 fcc por"
      :style="sweetHeart ? tipMainSweetHeart : {}"
    >
      <div class="submit but focusPress" @click="submit(true)">
        {{ msgOpt.submitText || '好的' }}
      </div>
    </div>
  </div>
</div>
